{% for post in site.posts %}
	<div class="post-author text-center">
		<img src="{{site.url}}/images/{{ post.author-picture }}" alt="{{ post.author-name }}'s photo" itemprop="image" class="post-avatar img-circle img-responsive" />
		<h4 class="bordered-bottom vcard author" itemprop="author" itemscope itemtype="http://schema.org/Person">
			By <span itemprop="name" class="fn"><a href="{{ site.url }}/about" title="About {{ post.author-name }}" itemprop="url">{{ post.author-name }}</a></span>
		</h4>
		<p>{{ post.author-description }}</p>
	</div>
{% endfor %}
